{% extends "base.html" %}
{% block title %}Tâche{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h5 mb-3">{{ form.instance.pk|yesno:"Mettre à jour,Créer" }} une tâche</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-8">{{ form.title.label_tag }}{{ form.title }}</div>
                        <div class="col-md-4">{{ form.due_date.label_tag }}{{ form.due_date }}</div>
                        <div class="col-md-4">{{ form.status.label_tag }}{{ form.status }}</div>
                        <div class="col-md-4">{{ form.activity_type.label_tag }}{{ form.activity_type }}</div>
                        <div class="col-md-4">{{ form.assigned_to.label_tag }}{{ form.assigned_to }}</div>
                        <div class="col-md-6">{{ form.customer.label_tag }}{{ form.customer }}</div>
                        <div class="col-md-6">{{ form.lead.label_tag }}{{ form.lead }}</div>
                        <div class="col-md-6">{{ form.opportunity.label_tag }}{{ form.opportunity }}</div>
                        <div class="col-md-6">{{ form.support_case.label_tag }}{{ form.support_case }}</div>
                        <div class="col-md-6">{{ form.order.label_tag }}{{ form.order }}</div>
                        <div class="col-12">{{ form.description.label_tag }}{{ form.description }}</div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 mt-3">
                        <a class="btn btn-outline-secondary" href="{% url 'tasks-list' %}">Annuler</a>
                        <button class="btn btn-success" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
